@{
    ViewData["Title"] = "Home Page";
}

@{
    <!DOCTYPE html>
    <html>
    <head>
        <title>AllProduct</title>
        <style>
            table.table-hover tbody tr:hover{
            background-color:#BCECE0;
            }

        </style>
    </head>
    <body>

        <h2>All products page</h2>

        <table class="table table-bordred table-striped table-hover">
            <thead>
                <tr><th>nom</th><th>quantité</th><th>marque</th><th>action</th></tr>
            </thead>
            <tbody>
                @foreach (Produit produit in Model)
                {
                    <tr>
                        <td>@produit.nom_P</td>
                        <td>@produit.quantite</td>
                        <td>@produit.marque</td>
                        <td>
                        <a href="@Url.Action("Produit",new {produit.id_P,produit.nom_P,produit.quantite,produit.marque})" class="btn btn-secondary"> Update</a>
                        @using(Html.BeginForm("DeleteProduct","Produit",new {id = produit.id_P})
                        ){
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        }
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
        
    </body>
</html>
}
